/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Work Sans', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.w3l_team_grd,.agileits_w3layouts_features_gridr h4,.agile_feature_grid,.agile_services_grid_pos,a,.w3l_footer_grid,.w3_two_grid_right_grid1,.w3_two_grid_right_grid1 i{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- header --*/
.container{
	margin-top: 10px;
}
.agile_header_grid{
	padding: 1em 0;
	border-bottom: 1px solid #e6e6e6;
}
.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a{
	font-size:1em;
	color:#212121;
	text-decoration:none;
}
.w3_agile_logo h1 a span {
    color: #eb2f46;
    display: inline-block;
    border: 3px solid;
    padding: 0 .2em;
}
.agileits_w3layouts_sign_in{
	float:right;
	margin-top: .3em;
}
.agileits_w3layouts_sign_in ul li{
	display:inline-block;
	color:#212121;
	margin-left:2em;
}
.agileits_w3layouts_sign_in ul li a {
    display: inline-block;
    padding: .5em 2em;
    background: #eb2f46;
    color: #fff;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
.agileits_w3layouts_sign_in ul li a:hover{
	background: #eb2f46;
}
.agileits_w3layouts_sign_in ul li span {
    font-size: 1.5em;
    color: #eb2f46;
}
.logo{
	float: left;
	margin-right: 200px;
}
/*-- nav --*/
.navbar-default {
    background: none;
    border: none;
}
.navbar {
	margin-top: 35px;
    margin-bottom: 0;
    
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background: #eb2f46;
}
.navbar-default .navbar-nav > li > a {
    color: #212121;
    font-weight: 600;
}
.navbar-nav > li > a {
    margin: 0;
    padding: 2em;
    line-height: 1em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
nav.navbar.navbar-default {
    background: none;
    padding: 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #212121;
    background: none;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #eb2f46;
	color: #fff;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #eb2f46;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#eb2f46;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*-- //nav --*/
.agileinfo_search{
	float: right;
    width: 30%;
    border-bottom: 1px solid #999;
    margin-top: .6em;
}
.agileinfo_search input[type="text"]{
    outline: none;
    width: 87%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: none;
}
.agileinfo_search input[type="submit"]{
    outline: none;
    width: 10%;
    background: url(../images/search.png) no-repeat 7px 2px;
    border: none;
    padding: 0;
}
/*-- //header --*/
/*-- banner --*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width: 100%;
}
/*-- banner-bottom --*/
.banner-bottom,.news,.services,.services-bottom,.features{
	padding:3em 0;
}
.w3l_banner_bottom_left h3,.agile_head,.wthree_stat_left h3{
	font-size:2em;
	color:#212121;
	text-transform:capitalize;
	padding-bottom:.5em;
	position:relative;
}
.w3l_banner_bottom_left h3:after,.wthree_stat_left h3:after{
	content: '';
    width: 23%;
    height: 1px;
    background: #eb2f46;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.w3l_banner_bottom_left p{
	margin:2em 0 0;
	color:#999;
	line-height:2em;
}
.w3l_banner_bottom_left p span{
	display:block;
	margin-top:1em;
	color:#212121;
	font-style:italic;
}
/*-- //banner-bottom --*/
/*-- two-grids --*/
.two-grids{
	background:#eb2f46;
}
.w3_two_grid_left{
	padding:0;
}
.w3_two_grid_right{
	padding:3em 8em 3em 4em;
}
.w3_two_grid_right h3{
	font-size:2em;
	color:#fff;
	text-transform:capitalize;
}
.w3_two_grid_right p.w3layouts_dummy_para{
	margin:1em 0;
	color:#003743;
	line-height:2em;
}
.w3_two_grid_right1{
	padding-top:1.1em;
}
.w3_two_grid_right_grid1{
	width: 65px;
    height: 65px;
    border-radius: 50px;
    background:#eb2f46;
    text-align: center;
}
.w3_two_grid_right1:hover .w3_two_grid_right_grid1{
	background:#fff;
}
.w3_two_grid_right1:hover .w3_two_grid_right_grid1 i{
	color:#eb2f46;
}
.w3_two_grid_right_grid1 i{
	font-size: 1.3em;
    color: #fff;
    line-height: 3.1em;
}
.w3_two_grid_right_gridr h4{
	text-transform:capitalize;
	font-size:1.4em;
	color:#fff;
	margin:.5em 0 0;
}
.w3_two_grid_right_gridr p{
	color:#003743;
	line-height:2em;
}
/*-- //two-grids --*/
/*-- news --*/
.w3_agile_para{
	margin:.5em 0 0;
	color:#999;
}
.agile_head:after{
	content: '';
    width:10%;
    height: 1px;
    background: #eb2f46;
    position: absolute;
    bottom: 0%;
    left: 0%;
}
.agile_head{
	padding-bottom:.3em !important;
}
.w3_agileits_news_grid{
	position:relative;
}
.w3_agileits_news_grid_pos{
	position: absolute;
    bottom: -7%;
    left: 8%;
    width: 85%;
    padding: .5em;
    background: #eb2f46;
}
.w3_agileits_news_grid_pos h4{
	text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    color: #fff;
}
.agileits_w3layouts_news_grid h5{
	margin:2em 0 1em;
}
.agileits_w3layouts_news_grid h5 a{
	font-size: 1.3em;
    color: #212121;
    text-transform: capitalize;
	text-decoration:none;
}
.agileits_w3layouts_news_grid h5 a:hover{
    color:#eb2f46;
}
.agileits_w3layouts_news_grid h5 a:focus,.agileits_more ul li a.hvr-icon-hang:focus,.agileits_w3layouts_sign_in ul li a:focus{
	outline:none;
}
.agileits_w3layouts_news_grids,.w3layouts_team_grids,.w3_agile_portfolio_grids,.agileits_w3layouts_contact_grids{
    margin: 3em 0 0;
}
.agileits_w3layouts_news_grid p{
	line-height:2em;
	color:#999;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
	padding:2em 0 0;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	position: relative;
	line-height: 35px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 33px;
    height: 33px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    background: url(../images/left.png) no-repeat 2px 1px;
    top: -5% !important;
    border-radius: 5px;
}
.nbs-flexisel-nav-left {
	left:94%;
}
.nbs-flexisel-nav-right {
	right: 0%;
    background:url(../images/right.png) no-repeat 2px 1px;
}
/*--//flexisel--*/
.agileits_w3layouts_news_grid {
    padding: 0 .5em;
}
/*-- //news --*/
/*-- stats --*/
.stats{
	background: url(../images/7.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.wthree_stat{
	background:rgba(33, 33, 33, 0.72);
	padding:4em 0;
}
.wthree_stat_left {
    margin: 2.5em 0 0;
}
.wthree_stat_left h3{
	color:#fff !important;
}
.wthree_stat_left p{
	margin:1em 0 0;
	color:#fff;
	line-height:2em;
}
.wthree_stat_right ul li{
	padding:2em 1em;
	text-align:center;
	border:1px solid #fff;
	display:inline-block;
	width: 32%;
}
.wthree_stat_right ul li:nth-child(2){
	margin:0 .5em;
}
.wthree_stat_right1 i{
	font-size: 1.5em;
    color: #212121;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    line-height: 2.6em;
}
.wthree_stat_right1 h4{
	font-size:1.3em;
	color:#fff;
	margin:1em 0;
}
.wthree_stat_right1 p{
	font-size:3em;
	color:#fff;
	font-weight:bold;
}
.w3layouts_newsletter{
	padding:3em 0;
	background:rgba(246, 43, 43, 0.85);
}
.w3layouts_newsletter_left{
	float:left;
}
.w3layouts_newsletter_right{
	float:right;
	width:50%;
}
.w3layouts_newsletter_left h3{
	font-size:2em;
	color:#fff;
	text-transform:capitalize;
}
.w3layouts_newsletter_right input[type="email"]{
	outline: none;
    border: 1px solid #fff;
    padding: 10px;
    background: none;
    color: #fff;
    font-size: 14px;
    width: 74.2%;
}
.w3layouts_newsletter_right input[type="submit"]{
	outline: none;
    border: 1px solid #0993b2;
    padding: 10px 0;
    background: #eb2f46;
    color: #fff;
    font-size: 14px;
    width: 25%;
    text-transform: uppercase;
}
.w3layouts_newsletter_right input[type="submit"]:hover{
	background:#fff;
	border: 1px solid #fff;
	color:#0993b2;
}
/*-- //stats --*/
/*-- footer --*/
.footer{
	padding:4em 0;
}
.w3_footer_grid h2{
	margin-bottom:1em;
}
.w3_footer_grid h2 a{
	font-size: 1em;
    color: #212121;
    text-decoration: none;
}
.w3_footer_grid h2 a span {
    color: #eb2f46;
    display: inline-block;
    border: 3px solid;
    padding: 0 .2em;
}
.w3_footer_grid p{
	color:#999;
	line-height:2em;
}
.w3_footer_grid p a{
	color:#eb2f46;
	text-decoration:underline;
}
.w3_footer_grid p a:hover{
	color:#999;
}
.w3l_footer_grid {
	width:50px;
	height:50px;
	border-radius:30px;
	background:#212121;
	text-align:center;
}
.w3_footer_grid:hover .w3l_footer_grid {
	background:#eb2f46;
}
.w3l_footer_grid i{
	font-size:1.5em;
	color:#fff;
	line-height:2em;
}
.w3_footer_grid h4{
	font-size: 1.2em;
    color: #eb2f46;
    margin: 1em 0 .5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3_footer_grid p span{
	display:block;
}
.copyright{
	padding:2em 0;
	background:#212121;
}
.w3ls_copyright_left{
	float:left;
}
.w3ls_copyright_left ul li{
	display:inline-block;
	margin-right:1em;
}
.w3ls_copyright_left ul li:last-child{
	margin-right:0;
}
.w3ls_copyright_left ul li a{
	text-transform:uppercase;
	font-weight:600;
	color:#fff;
	text-decoration:none;
}
.w3ls_copyright_left ul li a:hover,.w3ls_copyright_left ul li.active a{
	color:#eb2f46;
}
.w3ls_copyright_left p{
	margin-top:.5em;
	color:#999;
	line-height:2em;
}
.w3ls_copyright_left p a{
	color:#eb2f46;
	text-decoration:underline;
}
.w3ls_copyright_left p a:hover{
	color:#fff;
}
.w3ls_copyright_right{
	float:right;
	margin-top: 1em;
}
.w3ls_copyright_right ul li,.title li,.wthree_mail_social li{
	display:inline-block;
}
.w3ls_copyright_right ul li a,.w3agile_social_icons ul li a,.title li a,.wthree_mail_social li a{
	width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-top: .5em;
    font-size: 13px;
	background:#383838;
}
a.w3_agile_facebook:hover{
	background:#3b5998;
}
a.agile_twitter:hover{
	background:#1da1f2;
}
a.w3_agile_dribble:hover{
	background:#ea4c89;
}
a.w3_agile_vimeo:hover{
	background:#1ab7ea;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- bootstrap-pop-up --*/
.modal-header {
    font-size: 2em;
    color:#eb2f46;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
	font-weight: 600;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #999;
    text-align: left;
	padding:2em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
	color:#212121;
}
.modal-body {
    padding:2em;
}
button.close {
    font-size: 1em;
    color: #212121;
	outline: none;
}
/*-- //bootstrap-pop-up --*/
/*-- sign-in --*/
.agileits_signin_form input[type="text"],.agileits_signin_form input[type="password"],.agileits_signin_form input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 0 0 1em;
    outline: none;
    color: #212121;
    border: 1px solid #bfbfbf;
    letter-spacing: 1px;
    text-align: center;
}
.agileits_signin_form input[type="text"] {
    background: none;
    display: block;
}
.agileits_signin_form input[type="password"] {
    background: none;
    display: block;
}
.agileits_signin_form input[type="text"]::-webkit-input-placeholder,.agileits_signin_form input[type="email"]::-webkit-input-placeholder,.agileits_signin_form input[type="password"]::-webkit-input-placeholder{
	color:#212121; !important;
}
.agileits_signin_form input[type="submit"] {
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    border: none;
    color: #fff;
    background: #212121;
    outline: none;
    font-weight: 600;
    letter-spacing: 3px;
}
.agileits_signin_form input[type="submit"]:hover {
    background:#eb2f46;
}
.agileits_signin_form p{
    font-size: 0.9em;
    color: #212121;
    letter-spacing: 1px;
    padding:2em 0;
}
.agileits_signin_form p a {
    color: #eb2f46;
	text-decoration:underline;
}
.agileits_signin_form p a:hover{
	color:#212121;
}
.agileinfo_sign{
	font-size:2em;
	color:#eb2f46;
	margin-bottom:1em;
}
.w3agile_social_icons ul li {
    display: inline-block;
	margin-right:1em;
}
.w3agile_social_icons ul li:last-child{
	margin-right:0;
}
.wthree_follow{
	font-size:1.2em;
	color:#212121;
}
.agile_remember_left {
    float: left;
}
.agile_remember_left label,.agileinfo_subscribe label{
    font-size: 14px;
    font-weight: 600;
    color: #212121;
    text-transform: capitalize;
    margin: 0;
}
.agile_remember_right {
    float: right;
}
.checkbox {
    position: relative;
	padding-left:30px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid #5B5B5B;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url(../images/tick.png) no-repeat 0px 0px;
    top: -4px;
    left: 0px;
    width: 18px;
    height: 18px;
    text-align: center;
}
.agile_remember_right a {
    font-size: 14px;
    color:#eb2f46;
    text-decoration: underline;
}
.agile_remember_right a:hover {
    color: #212121;
}
.agile_remember {
    padding: 1.5em 0;
}
/*-- //sign-in --*/
/*-- services --*/
.banner1 h3{
	font-size: 3em;
    color: #fff;
    padding-top: 2.6em;
}
.agile_services_grid{
	position:relative;
}
.agile_services_grid_pos{
	position: absolute;
    bottom: -20%;
    left: 5%;
    width: 85px;
    height: 85px;
    background: #eb2f46;
    border-radius: 50px;
    border: 5px solid #fff;
    text-align: center;
}
.w3_agile_services_grid:hover .agile_services_grid_pos{
	background: #212121;
}
.agile_services_grid_pos i{
	font-size: 2em;
    color: #fff;
    line-height:2.3em;
}
.w3_agile_services_grid h4{
	font-size:1.3em;
    color: #212121;
    margin: 2.5em 0 0.5em;
    text-transform: capitalize;
}
.w3_agile_services_grid p{
	color:#999;
	line-height:2em;
}
.column div {
	position: relative;
    padding: 0;
}
.agile_services_grid figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Rotate */
.hover06 figure img {
	-ms-transform: rotate(15deg) scale(1.4);
	-o-transform: rotate(15deg) scale(1.4);
	-moz-transform: rotate(15deg) scale(1.4);
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
}
.hover06 figure:hover img,.w3_agile_services_grid:hover .hover06 figure img{
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
	-moz-transform: rotate(0) scale(1);
	-o-transform: rotate(0) scale(1);
	-ms-transform: rotate(0) scale(1);
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom{
	background: url(../images/8.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    text-align: center;
}
.services-bottom h3{
	font-size: 2.5em;
    line-height: 1.5em;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
/*-- //services-bottom --*/
/*-- about --*/
.wthree_about_grid h3{
	font-size:2em;
	color:#212121;
	text-transform: capitalize;
}
.wthree_about_grid h3 span{
	color: #fff;
	background: #eb2f46;
    text-transform: uppercase;
    font-weight: 600;
	display:inline-block;
	padding:.2em .5em;
}
.wthree_about_grid p{
	color: #999;
    line-height: 2em;
    margin: 2em 0 0em;
}
.wthree_about_grid h4{
	 font-size: 1.8em;
    color: #212121;
    line-height: 1em;
    text-transform: capitalize;
}
.wthree_about_grid h4 span{
	display: block;
    font-size: .5em;
    font-weight: 600;
    text-transform: uppercase;
    color: #eb2f46;
    letter-spacing: 5px;
}
.wthree_about_grid ul{
	margin:2em 0 0;
}
.wthree_about_grid ul li{
	list-style-type:none;
	margin-bottom:1em;
	color:#212121;
}
.wthree_about_grid ul li i{
	padding-right:2em;
	color:#eb2f46;
}
.about,.portfolio{
	padding-top:5em;
}
/*-- //about --*/
/*-- features --*/
.features{
	background: url(../images/10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
}
.agile_head1,.w3_agile_para1{
	color:#fff;
}
.agileits_w3layouts_features_grid{
	padding:1em;
	background:#fff;
}
.agileits_w3layouts_features_gridl {
    padding-left: 0;
}
.agile_feature_grid{
	width: 80px;
    height: 80px;
    background: #eb2f46;
    text-align: center;
    border: 4px solid #057189;
}
.w3_agileits_features_grid:hover .agile_feature_grid{
	background: #eb2f46;
    border:4px solid #b61616;
}
.w3_agileits_features_grid:hover .agileits_w3layouts_features_gridr h4{
    color: #eb2f46;
}
.agile_feature_grid i{
	font-size: 1.5em;
    color: #fff;
    line-height: 3em;
}
.agileits_w3layouts_features_gridr h4{
	font-size: 1.2em;
    color: #212121;
    margin-bottom: .3em;
    text-transform: capitalize;
}
.agileits_w3layouts_features_gridr p{
	color:#999;
	line-height:1.7em;
}
.w3_agileits_features_grid{
	padding-top:2em;
}
.w3_agileits_features_grids{
	margin-top:1em;
}
/*-- //features --*/
/*-- team --*/
.w3_team_grid{
	padding:1em;
	box-shadow:0px 0px 1px;
}
.w3_team_grid h4{
	font-size:1em;
	color:#212121;
}
.w3_team_grid h5{
	font-size:1.3em;
	color:#eb2f46;
	margin:.5em 0 1em;
}
.w3_team_grid p{
	color:#999;
	line-height:2em;
	margin-bottom: 1em;
}
.w3layouts_team_grid img {
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}
.w3l_team_grd{
	position:relative;
	z-index: 2;
}
.w3l_team_grd:hover{
    box-shadow: 0 70px 70px rgba(0, 0, 0, 0.2);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    z-index: 100;
}
/*-- //team --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding:1em 0 4em;
}
.typo{
	padding:2em 0;
}
/*-- icons --*/
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#eb2f46 !important;
    margin: 30px 0 15px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 30px;
    color: #000;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1100px){
	.logo{
	margin-right: 70px;
	}
}
@media (max-width:1080px){
	.logo{
	margin-right: 70px;
	}
}
@media (max-width:991px){
	.logo{
	margin-right: 50px;
	}
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:778px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.logo{
	margin-right: 30px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.logo{
	margin-right: 50px;
	}
	.icon-box {
		float: left;
		width: 50%;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	.logo{
	margin-right: 30px;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.logo{
	margin-right: 20px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.logo{
	margin-right: 20px;
	}
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.logo{
	margin-right: 20px;
	}
	.w3_agileits_icons_page {
		margin: 25px 0 0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#212121;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- portfolio --*/
.agile_portfolio_grid{
	float:left;
	width:33.33%;
}
.view {
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask, .view .content {
	position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.view img {
   display: block;
   position: relative;
}
.view h4{
   padding:.3em .5em;
   background:#fff;
   color:#212121;
   text-align:center;
   display:inline-block;
}
/* FIFTH EFFECTS */
.effect img {
   opacity:1;
   -moz-transform:scale(1,1);
   -webkit-transform:scale(1,1);
   -o-transform:scale(1,1);
   -ms-transform:scale(1,1);
   transform:scale(1,1);
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.effect .mask {
   opacity:0;
   overflow:visible;
   border-color:rgba(246, 43, 43, 0.38) transparent transparent transparent;
   border-style:solid;
   border-width:263px;
   width:0;
   height:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.effect h4{
	opacity:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;

}
.effect:hover img {
	opacity:0.7;
   -moz-transform:scale(2,2);
   -webkit-transform:scale(2,2);
   -o-transform:scale(2,2);
   -ms-transform:scale(2,2);
   transform:scale(2,2);
}
.effect:hover .mask {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.effect:hover h4{
	opacity:1;
   -moz-transform:translateY(170px);
   -webkit-transform:translateY(170px);
   -o-transform:translateY(170px);
   -ms-transform:translateY(170px);
   transform:translateY(170px);
}
.thumbnail {
    padding: 0;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 0;
}
/*-- //portfolio --*/
/*-- contact --*/
.agileits_w3layouts_contact_gridr input[type="text"],.agileits_w3layouts_contact_gridr input[type="email"],.agileits_w3layouts_contact_gridr textarea{
	outline:none;
	background:#f5f5f5;
	border:1px solid #d7d7d7;
	font-size:14px;
	color:#212121;
	width:100%;
	padding:10px;
}
.agileits_w3layouts_contact_gridr textarea{
	margin:0 0 1em;
	min-height:200px;
}
.agileits_w3layouts_contact_gridr:nth-child(3){
	margin:0 1em;
}
.agileits_w3layouts_contact_gridr textarea::-webkit-input-placeholder{
	color:#212121;
	font-weight:600;
}
.agileits_w3layouts_contact_gridr input[type="submit"]{
	outline: none;
    background:#eb2f46;
    border: none;
    font-size: 14px;
    color: #fff;
    width: 30%;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 2em;
}
.agileits_w3layouts_contact_gridr input[type="submit"]:hover{
	background:#eb2f46;
}
.agileits_w3layouts_contact_gridr label {
    font-size: 14px;
    color: #212121;
    font-weight: 600;
}
.agileits_leave {
    float: left;
    width: 31.65%;
}
.agileits_leave:nth-child(3) {
    margin: 0 1em;
}
.agileits_mail_grid_right_grid h4{
	font-size: 1.3em;
    color: #eb2f46;
    margin: 0 0 0.5em;
}
.agileits_mail_grid_right_grid p{
	color:#999;
	line-height:1.8em;
}
.agileits_mail_grid_right_grid:nth-child(2){
	margin:3em 0;
}
ul.contact_info li {
    list-style-type: none;
    margin-bottom: 1em;
    color: #999;
    font-size: 14px;
}
ul.contact_info li i {
    color: #999;
    border: 1px solid #999;
    padding: .5em;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    margin-right: 1em;
}
ul.contact_info li a {
    color: #999;
    text-decoration: none;
}
ul.contact_info li a:hover{
	color:#eb2f46;
}
ul.contact_info span{
    padding-left: 44px;
}
.map iframe{
	width:100%;
	min-height:400px;
}
/*-- //contact --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.effect .mask {
		border-width: 277px;
	}
}
@media (max-width:1600px){
	.effect .mask {
		border-width: 263px;
	}
}
@media (max-width:1440px){
	.w3_two_grid_right {
		padding:2em 3em 2em 3em;
	}
	.w3_two_grid_right p.w3layouts_dummy_para {
		margin: 1em 0 0;
	}
	.w3_two_grid_right1 {
		padding-top: 0.9em;
	}
	.effect .mask {
		border-width: 238px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(140px);
		-webkit-transform: translateY(140px);
		-o-transform: translateY(140px);
		-ms-transform: translateY(140px);
		transform: translateY(140px);
	}
}
@media (max-width:1366px){
	.w3_two_grid_right h3 {
		font-size: 1.9em;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.3em;
	}
	.w3_two_grid_right_grid1 {
		width: 55px;
		height: 55px;
	}
	.w3_two_grid_right_grid1 i {
		line-height: 2.6em;
	}
	.w3_two_grid_right1 {
		padding-top: 0.88em;
	}
	.effect .mask {
		border-width: 225px;
	}
}
@media (max-width: 1280px){
	.w3_two_grid_right h3 {
		font-size: 1.8em;
	}
	.w3_two_grid_right {
		padding: 1.1em 2em;
	}
	.effect .mask {
		border-width: 211px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(120px);
		-webkit-transform: translateY(120px);
		-o-transform: translateY(120px);
		-ms-transform: translateY(120px);
		transform: translateY(120px);
	}
}
@media (max-width: 1080px){
	.navbar-nav > li > a {
		padding: 2em 1.5em;
	}
	.agileinfo_search {
		width: 27%;
	}
	.banner {
		padding: 7em 0 0;
		min-height: 580px;
	}
	.wthree_banner_grids {
		padding: 6em 0;
	}
	.w3_two_grid_right h3 {
		font-size: 1.6em;
	}
	.w3_two_grid_right_grid {
		width: 19%;
	}
	.w3_two_grid_right_gridr {
		width: 81%;
		padding: 0;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.2em;
	}
	.w3_two_grid_left img {
		min-height: 424px;
	}
	.banner h2 {
		font-size: 2.8em;
	}
	.nbs-flexisel-nav-left {
		left: 93%;
	}
	.banner-bottom, .news, .services, .services-bottom, .features {
		padding: 4em 0;
	}
	.about,.portfolio {
		padding-top: 4em;
	}
	.wthree_stat_right {
		padding: 0;
	}
	.wthree_stat_right ul li {
		width: 31.9%;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 74%;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.8em;
	}
	.banner1 {
		min-height: 250px;
	}
	.banner1 h3 {
		font-size: 2.8em;
		padding-top: 2.3em;
	}
	.w3_agile_services_grid h4 {
		font-size: 1.18em;
	}
	.agile_services_grid_pos {
		width: 70px;
		height: 70px;
		border: 3px solid #fff;
	}
	.agile_services_grid_pos i {
		font-size: 1.5em;
		line-height: 2.6em;
	}
	.services-bottom h3 {
		font-size: 2.3em;
	}
	.wthree_about_grid p {
		margin: 1em 0;
	}
	.wthree_about_grid h4 {
		font-size: 1.5em;
	}
	.agileinfo_about_grid_right {
		margin-top: 3em;
	}
	.wthree_about_grid h3 {
		font-size: 1.8em;
	}
	.agile_feature_grid {
		width: 60px;
		height: 60px;
	}
	.agile_feature_grid i {
		line-height: 2em;
	}
	.agileits_w3layouts_features_gridr {
		padding: 0;
	}
	.agileits_w3layouts_features_gridr h4 {
		font-size: 1.1em;
	}
	.w3_team_grid h5 {
		font-size: 1.1em;
	}
	.effect .mask {
		border-width: 178px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(80px);
		-webkit-transform: translateY(80px);
		-o-transform: translateY(80px);
		-ms-transform: translateY(80px);
		transform: translateY(80px);
	}
	.agileits_leave {
		width: 31.2%;
	}
	.agileits_mail_grid_right_grid:nth-child(2) {
		margin: 2em 0;
	}
}
@media (max-width: 1024px){
	.w3l_banner_bottom_left h3, .agile_head, .wthree_stat_left h3 {
		font-size: 1.8em;
	}
	.w3_two_grid_right h3 {
		font-size: 1.5em;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.1em;
	}
	.w3_two_grid_right_grid {
		padding-left: 0;
	}
	.w3_two_grid_right {
		padding: 1.1em 1.5em;
	}
	.effect .mask {
		border-width: 168px;
	}
}
@media (max-width: 991px){
	.navbar-nav > li > a {
		padding: 2em 1em;
		font-size: 12px;
	}
	.w3_agile_logo h1 a {
		font-size: .9em;
	}
	.agileits_w3layouts_sign_in ul li span {
		font-size: 1.3em;
	}
	.agileinfo_sign {
		font-size: 1.8em;
	}
	.agileinfo_search {
		width: 31%;
	}
	.agileinfo_search input[type="text"] {
		width: 86%;
	}
	.agileinfo_search input[type="submit"] {
		width: 12%;
		background: url(../images/search.png) no-repeat 5px 2px;
	}
	.banner h2 {
		font-size: 2.4em;
	}
	.banner {
		padding: 5em 0 0;
		min-height: 480px;
	}
	.wthree_banner_grid {
		float: left;
		width: 25%;
		padding: 0;
	}
	.agileits_more ul li a.hvr-icon-hang {
		padding: 0.8em 3em 0.8em 2em;
		letter-spacing: 2px;
	}
	.wthree_banner_grids {
		padding: 5em 0;
	}
	.w3l_banner_bottom_right {
		margin-top: 2em;
	}
	.w3l_banner_bottom_right img {
		margin: 0 auto;
	}
	.w3_two_grid_left img {
		min-height: auto;
		margin: 0 auto;
	}
	.w3_two_grid_right h3 {
		font-size: 1.8em;
	}
	.w3_two_grid_right {
		padding: 3em 5em;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.3em;
	}
	.w3_agileits_news_grid_pos {
		bottom: -18%;
	}
	.agileits_w3layouts_news_grid h5 a {
		font-size: 1.07em;
	}
	.agileits_w3layouts_news_grid h5 {
		margin: 3em 0 1em;
	}
	.nbs-flexisel-nav-left {
		left: 90%;
	}
	.banner-bottom, .news,.footer, .services, .services-bottom, .features,.wthree_stat {
		padding: 3em 0;
	}
	.wthree_stat_left {
		margin: 0;
	}
	.wthree_stat_right {
		margin-top: 2em;
	}
	.w3layouts_newsletter {
		padding: 2em 0;
	}
	.w3layouts_newsletter_left {
		float: none;
		margin-bottom: 1em;
		text-align: center;
	}
	.w3layouts_newsletter_right {
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.w3_footer_grid {
		float: left;
		width: 33.33%;
	}
	.w3_footer_grid:first-child {
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
	.w3_agile_services_grid {
		float: left;
		width: 33.33%;
	}
	.w3_agile_services_grid h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}
	.services-bottom h3 {
		font-size: 2em;
	}
	.banner1 {
		min-height: 200px;
	}
	.banner1 h3 {
		font-size: 2.5em;
		padding-top: 2em;
	}
	.agileinfo_about_grid_right {
		width: 40%;
		margin: 2em auto 0;
	}
	.w3_agileits_features_grid {
		float: left;
		width: 50%;
	}
	.w3layouts_team_grid {
		float: left;
		width: 50%;
	}
	.w3layouts_team_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.effect .mask {
		border-width: 162px;
	}
	.about, .portfolio {
		padding-top: 3em;
	}
	.agileits_w3layouts_contact_gridr {
		margin-top: 3em;
	}
	.agileits_leave {
		width: 31.78%;
	}
	.map iframe {
		min-height: 300px;
	}
}
@media (max-width: 800px){
	.banner {
		background-position: -170px 0px;
	}
	.agileits_w3layouts_news_grids, .w3layouts_team_grids, .w3_agile_portfolio_grids, .agileits_w3layouts_contact_grids {
		margin: 2em 0 0;
	}
	.w3_wthree_agileits_icons.main-grid-border {
		padding: 0em 0 3em;
	}
	.typo {
		padding: 0 0 1em;
	}
	.banner1 h3 {
		font-size: 2.2em;
		padding-top: 2.3em;
	}
	.effect .mask {
		border-width: 131px;
	}
	.view h4 {
		font-size: 1em;
	}
	.effect:hover h4 {
		-moz-transform: translateY(45px);
		-webkit-transform: translateY(45px);
		-o-transform: translateY(45px);
		-ms-transform: translateY(45px);
		transform: translateY(45px);
	}
}
@media (max-width: 768px){
	.w3_agileits_news_grid_pos {
		bottom: -9%;
	}
	.agileits_w3layouts_news_grid h5 {
		margin: 2em 0 1em;
	}
	.agileits_w3layouts_news_grid h5 a {
		font-size: 1.3em;	
	}
	.w3_footer_grid h4 {
		font-size: 1.1em;
		letter-spacing: 1px;
	}
	.effect .mask {
		border-width: 126px;
	}
}
@media (max-width: 767px){
	.navbar-toggle {
		float: none;
		margin: .5em 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	nav.navbar.navbar-default {
		text-align: center;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #dcdcdc;
		text-align:center;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav > li > a {
		padding: 1.2em 0;
		font-size: 13px;
	}
	.agileinfo_search {
		width: 60%;
		float: none;
		margin: 0 auto 2em;
	}
	.agileinfo_search input[type="text"] {
		background: #dcdcdc;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #969595;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
}
@media (max-width: 736px){
	.banner h2 {
		font-size: 2.2em;
	}
	.wthree_banner_grids {
		padding: 3em 0;
	}
	.banner {
		min-height: 440px;
	}
	.w3l_banner_bottom_left h3, .agile_head, .wthree_stat_left h3 {
		font-size: 1.6em;
	}
	.w3_agileits_news_grid_pos {
		bottom: -14%;
	}
	.agileits_w3layouts_news_grid h5 {
		margin: 2.5em 0 1em;
	}
}
@media (max-width: 667px){
	.banner h2 {
		font-size: 2em;
	}
	.w3_two_grid_right h3 {
		font-size: 1.7em;
	}
	.w3_two_grid_right {
		padding: 3em 3em;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.2em;
	}
	.nbs-flexisel-nav-left {
		left: 88%;
	}
	.agileits_w3layouts_news_grid h5 a {
		font-size: 1.24em;
	}
	.w3layouts_newsletter_right {
		width: 85%;
	}
}
@media (max-width: 640px){
	.agileits_w3layouts_sign_in ul li {
		margin-left: 1em;
	}
	.agileits_w3layouts_sign_in ul li:first-child{
		margin-left: 0;
	}
	.agileits_more ul li a.hvr-icon-hang {
		letter-spacing: 1px;
		font-size: 13px;
	}
	.wthree_banner_grid h4 {
		font-size: 14px;
		line-height: 1.3em;
	}
	.banner h2 {
		font-size: 1.8em;
	}
	.banner {
		min-height: auto;
		padding: 4em 0;
	}
	.agileits_signin_form input[type="text"], .agileits_signin_form input[type="password"], .agileits_signin_form input[type="email"] {
		font-size: 14px;
	}
	.w3_agileits_news_grid_pos {
		bottom: -7%;
	}
	.agileits_w3layouts_news_grid h5 a {
		font-size: 1.4em;
	}
	.banner1 h3 {
		font-size: 2em;
		padding-top: 0;
	}
	.banner1 {
		min-height: auto;
		padding: 3em 0;
	}
	.agile_services_grid_pos {
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
	}
	.agile_services_grid_pos i {
		font-size: 1.2em;
		line-height: 2.4em;
	}
	.w3_agile_services_grid h4 {
		margin: 2em 0 0.5em;
	}
	.services-bottom h3 {
		font-size: 1.7em;
	}
	.wthree_about_grid h3 {
		font-size: 1.6em;
	}
	.agileits_w3layouts_features_gridr h4 {
		font-size: 1.06em;
	}
	.effect .mask {
		border-width: 104px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		-o-transform: translateY(25px);
		-ms-transform: translateY(25px);
		transform: translateY(25px);
	}
	.modal-header {
		font-size: 1.7em;
	}
	.agileits_leave {
		width: 31.4%;
	}
}
@media (max-width: 600px){
	.modal-body {
		padding: 1em;
	}
	.w3_two_grid_right {
		padding: 2em 2em;
	}
	.nbs-flexisel-nav-left {
		left: 87%;
	}
	.wthree_stat_right1 p {
		font-size: 2.5em;
	}
}
@media (max-width: 568px){
	.agileits_w3layouts_sign_in ul li {
		margin-left: 0em;
	}
	.w3_agile_logo h1 a {
		font-size: .85em;
	}
	.banner h2 {
		font-size: 1.7em;
	}
	.banner {
		padding: 3em 0;
	}
	.modal-body p i {
		margin: 1em 0 0;
	}
	.w3_two_grid_right h3 {
		font-size: 1.6em;
	}
	.nbs-flexisel-nav-left {
		left: 85%;
	}
	.wthree_stat_right1 h4 {
		font-size: 1.2em;
	}
	.wthree_stat_right ul li {
		padding: 1em 1em;
	}
	.w3ls_copyright_left,.w3ls_copyright_right {
		float: none;
		text-align: center;
	}
}
@media (max-width: 480px){
	.agileits_w3layouts_sign_in ul li {
		display: block;
		text-align: right;
	}
	.w3_agile_logo {
		margin-top: 0.5em;
	}
	.agileits_w3layouts_sign_in ul li span {
		font-size: 1.1em;
	}
	.agileits_w3layouts_sign_in ul li:first-child {
		margin-bottom: .3em;
	}
	.banner h2 {
		font-size: 1.4em;
	}
	.w3l_banner_bottom_left h3{
		font-size: 1.5em;
	}
	.agile_head, .wthree_stat_left h3 {
		font-size:1.7em;
	}
	.banner-bottom, .news, .footer, .services, .services-bottom, .features, .wthree_stat {
		padding: 2em 0;
	}
	.w3l_banner_bottom_left h3:after, .wthree_stat_left h3:after {
		width: 35%;
	}
	.w3l_banner_bottom_left p {
		margin: 1.5em 0 0;
	}
	.w3_two_grid_right h3 {
		font-size: 1.36em;
	}
	.w3_two_grid_right_gridr h4 {
		font-size: 1.1em;
	}
	.agileinfo_search {
		width: 80%;
	}
	.nbs-flexisel-nav-left {
		left: 83%;
	}
	.w3_agileits_news_grid_pos {
		bottom: -5%;
	}
	.wthree_stat_right ul {
		text-align: center;
	}
	.wthree_stat_right ul li {
		width: 65%;
		margin: 0 auto;
	}
	.wthree_stat_right ul li:nth-child(2) {
		margin: .5em 0;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.6em;
	}
	.w3layouts_newsletter_right {
		width: 100%;
	}
	.w3_footer_grid {
		float: none;
		width: 100%;
		text-align:center;
	}
	.w3_footer_grid:nth-child(3) {
		margin: 1em 0;
	}
	.w3l_footer_grid {
		margin: 0 auto;
	}
	.w3_agile_services_grid {
		float: none;
		width: 100%;
	}
	.agile_services_grid_pos {
		width: 75px;
		height: 75px;
		border: 5px solid #fff;
		bottom: -15%;
	}
	.agile_services_grid_pos i {
		line-height: 3.3em;
	}
	.w3_agile_services_grid h4 {
		margin: 2.5em 0 0.5em;
		font-size: 1.2em;
	}
	.w3_agile_services_grid:nth-child(2) {
		margin: 2em 0;
	}
	.services-bottom h3 {
		font-size: 1.4em;
	}
	.agileinfo_about_grid_right {
		width: 55%;
	}
	.w3_agileits_features_grid {
		padding-top: 1em;
		float: none;
		width: 100%;
	}
	.agileits_w3layouts_features_gridl {
		width: 25%;
	}
	.w3layouts_team_grid {
		padding-left: 0;
	}
	.w3_team_grid h5 {
		font-size: 1em;
	}
	.typo {
		padding: 2em 0 1em;
	}
	.agile_portfolio_grid {
		float: none;
		width: 100%;
	}
	.effect .mask {
		border-width: 232px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(135px);
		-webkit-transform: translateY(135px);
		-o-transform: translateY(135px);
		-ms-transform: translateY(135px);
		transform: translateY(135px);
	}
	.agileits_leave {
		width: 100%;
		float: none;
	}
	.agileits_leave:nth-child(3) {
		margin: 1em 0;
	}
	.agileits_w3layouts_contact_gridr input[type="submit"] {
		width: 45%;
	}
	.map iframe {
		min-height: 250px;
	}
}
@media (max-width: 414px){
	.agileits_w3layouts_sign_in ul li {
		font-size: 13px;
	}
	.w3_agile_logo h1 a {
		font-size: .8em;
	}
	.banner h2 {
		font-size: 1.2em;
	}
	.wthree_banner_grid i {
		font-size: 1.5em;
	}
	.wthree_banner_grid h4 {
		font-size: 11px;
	}
	.wthree_banner_grids {
		padding: 2em 0;
	}
	.w3l_banner_bottom_left h3 {
		font-size: 1.3em;
	}
	.w3l_banner_bottom_left,.agileinfo_about_grid_left,.agileits_w3layouts_contact_gridl {
		padding: 0;
	}
	.w3_two_grid_right h3 {
		font-size: 1.4em;
		line-height: 1.5em;
	}
	.w3_two_grid_right {
		padding: 2em 1em;
	}
	.w3_two_grid_right_gridr h4 {
		margin: 0;
	}
	.agile_head, .wthree_stat_left h3 {
		font-size: 1.5em;
	}
	.agile_head:after {
		width: 20%;
	}
	.nbs-flexisel-nav-left {
		left: 80%;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.5em;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 73%;
	}
	.w3_footer_grid h2 {
		margin-bottom: .5em;
	}
	.services-bottom h3 {
		font-size: 1.3em;
	}
	.wthree_about_grid h3 {
		font-size: 1.4em;
	}
	.wthree_about_grid h4 {
		font-size: 1.3em;
	}
	.wthree_about_grid h4 span {
		font-size: .6em;
	}
	.agileits_w3layouts_features_gridr {
		width: 70%;
	}
	.w3layouts_team_grid {
		padding-left: 1em;
		float: none;
		width: 80%;
		margin:0 auto;
	}
	.w3layouts_team_grid:nth-child(2) {
		margin: 2em auto;
	}
	.w3layouts_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.banner1 h3 {
		font-size: 1.5em;
	}
	.effect .mask {
		border-width: 199px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(110px);
		-webkit-transform: translateY(110px);
		-o-transform: translateY(110px);
		-ms-transform: translateY(110px);
		transform: translateY(110px);
	}
	.agileits_mail_grid_right_grid h4 {
		font-size: 1.1em;
	}
	.agileits_mail_grid_right_grid:nth-child(2) {
		margin: 1.5em 0;
	}
	.agileits_w3layouts_contact_gridr {
		margin-top: 2em;
		padding: 0;
	}
	.modal-body p {
		padding: 1em 1em 0em;
	}
}
@media (max-width: 384px){
	.agileits_w3layouts_sign_in ul li {
		font-size: 12px;
	}
	.agileits_more ul li a.hvr-icon-hang {
		padding: 0.5em 2.5em 0.5em 1.5em;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.4em;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		width: 28%;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 70%;
	}
	.w3_footer_grid h4 {
		font-size: 1em;
		letter-spacing: 0px;
	}
	.w3_footer_grid h2 a {
		font-size: .9em;
	}
	.agileinfo_sign {
		font-size: 1.5em;
	}
	.services-bottom h3 {
		font-size: 1.2em;
	}
	.agileits_w3layouts_features_gridl {
		width: 30%;
	}
	.w3layouts_team_grid {
		width: 100%;
	}
	.effect .mask {
		border-width: 184px;
	}
	.map iframe {
		min-height: 200px;
	}
}
@media (max-width: 375px){
	.w3_agile_logo h1 a {
		font-size: .79em;
	}
	.w3_agile_logo {
		margin-top: 0em;
	}
	.modal-header {
		font-size: 1.4em;
	}
	.w3_two_grid_right h3 {
		font-size: 1.3em;
		line-height: 1.3em;
	}
	.w3_two_grid_right_grid {
		width: 25%;
	}
	.w3_two_grid_right_gridr {
		width: 75%;
	}
	.agileinfo_search {
		width: 95%;
	}
	.nbs-flexisel-nav-left {
		left: 78%;
	}
	.agileits_w3layouts_news_grid h5 a {
		font-size: 1.3em;
	}
	.agileits_w3layouts_news_grid h5 {
		margin: 2.5em 0 0em;
	}
	.w3layouts_newsletter_right input[type="email"] {
		width: 100%;
		margin-bottom: .5em;
	}
	.w3layouts_newsletter_right input[type="submit"] {
		width: 100%;
	}
	.services-bottom h3 {
		font-size: 1.1em;
	}
	.agileinfo_about_grid_right {
		width: 65%;
	}
	.effect .mask {
		border-width: 179px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(90px);
		-webkit-transform: translateY(90px);
		-o-transform: translateY(90px);
		-ms-transform: translateY(90px);
		transform: translateY(90px);
	}
}
@media (max-width: 320px){
	.w3_agile_logo h1 a {
		font-size: .7em;
	}
	.agileits_w3layouts_sign_in {
		margin-top: 0;
	}
	.banner h2 {
		font-size: 1.07em;
	}
	p, ul li, ol li,.agile_remember_right a,.agileits_w3layouts_contact_gridr input[type="text"], .agileits_w3layouts_contact_gridr input[type="email"],.agileits_w3layouts_contact_gridr label, .agileits_w3layouts_contact_gridr textarea,.agileinfo_search input[type="text"],.agile_remember_left label, .agileinfo_subscribe label,.agileits_signin_form input[type="text"], .agileits_signin_form input[type="password"], .agileits_signin_form input[type="email"] {
		font-size: 13px;
	}
	.agileits_w3layouts_contact_gridr input[type="submit"] {
		width: 60%;
	}
	.agileits_more ul li a.hvr-icon-hang {
		letter-spacing: 0px;
	}
	.agileits_more ul li a.hvr-icon-hang {
		padding: 0.5em 2.5em 0.5em 1.2em;
	}
	.w3l_banner_bottom_left h3 {
		font-size: 1.18em;
	}
	.agileinfo_sign {
		font-size: 1.3em;
	}
	.agile_remember_left {
		float: none;
		text-align: left;
	}
	.agile_remember_right {
		float: none;
		text-align: left;
		margin-top: .5em;
	}
	.agile_remember {
		padding: 1em 0;
	}
	.agileits_signin_form input[type="submit"] {
		padding: 8px 0;
		font-size: 14px;
	}
	.agileits_signin_form p {
		font-size: 13px;
		letter-spacing: 0px;
		padding: 1em 0 1.5em;
	}
	.wthree_follow {
		font-size: 1em;
	}
	.w3agile_social_icons ul li {
		margin-right: 0em;
	}
	.checkbox {
		padding-left: 25px !important;
	}
	.nbs-flexisel-nav-left {
		left: 74%;
	}
	.w3layouts_newsletter_left h3 {
		font-size: 1.21em;
	}
	.w3ls_copyright_left ul li {
		margin-right: 0.6em;
	}
	.copyright {
		padding: 1.5em 0;
	}
	.agile_services_grid_pos {
		width: 60px;
		height: 60px;
		border: 3px solid #fff;
	}
	.agile_services_grid_pos i {
		line-height: 2.8em;
	}
	.w3_agile_services_grid h4 {
		margin: 1.5em 0 0.5em;
		font-size: 1.1em;
	}
	.services-bottom h3 {
		font-size: 0.99em;
	}
	.wthree_about_grid h3 {
		font-size: 1.2em;
	}
	.wthree_about_grid h4 {
		font-size: 1.1em;
	}
	.agileits_w3layouts_features_gridl {
		width: 36%;
	}
	.agileits_w3layouts_features_gridr {
		width: 63%;
	}
	.agileits_w3layouts_features_gridr h4 {
		font-size: 1em;
		line-height: 1.3em;
	}
	.effect .mask {
		border-width: 152px;
	}
	.effect:hover h4 {
		-moz-transform: translateY(65px);
		-webkit-transform: translateY(65px);
		-o-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(65px);
	}
}